@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black-alt;
}

.loading {
	@apply cursor-not-allowed opacity-50;
}

.bg-black-alt  {
	background:#191919;
}

.text-black-alt  {
	color:#191919;
}

.border-black-alt {
	border-color: #191919;
}
